In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:

# 1. 列の内容（文字列）の最大表示幅を「省略しない」に設定
pd.set_option('display.max_colwidth', None)

# 2. 表示される最大行数を増やす 
pd.set_option('display.max_rows', 100) 

# 3. 表示される最大列数を増やす 
pd.set_option('display.max_columns', None)

In [3]:
import os

# Notebook用スクリプトの場所を手動で設定
BASE_DIR = r"C:\Users\image\Portfolio/Soccer analysis/soccer_pipeline/notebooks"

# プロジェクトのルート（soccer_pipeline）
ROOT_DIR = os.path.abspath(os.path.join(BASE_DIR, ".."))

data_file = os.path.join(ROOT_DIR,"data","premier_league.csv")

In [4]:
df = pd.read_csv(data_file)

display(df)

,season_end_year,team,position,played,won,drawn,lost,gf,ga,gd,points,notes
0,1993,Manchester Utd,1,42,24,12,6,67,31,36,84,→ Champions League via league finish
1,1993,Aston Villa,2,42,21,11,10,57,40,17,74,→ UEFA Cup via league finish
2,1993,Norwich City,3,42,21,9,12,61,65,-4,72,→ UEFA Cup via league finish 1
3,1993,Blackburn,4,42,20,11,11,68,46,22,71,NaN
4,1993,QPR,5,42,17,12,13,63,55,8,63,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
661,2025,Wolves,16,38,12,6,20,54,69,-15,42,NaN
662,2025,Tottenham,17,38,11,5,22,64,65,-1,38,NaN
663,2025,Leicester City,18,38,6,7,25,33,80,-47,25,NaN
664,2025,Ipswich,19,38,4,10,24,36,82,-46,22,NaN
665,2025,Southampton,20,38,2,6,30,26,86,-60,12,NaN

In [5]:
df.tail(40)

,season_end_year,team,position,played,won,drawn,lost,gf,ga,gd,points,notes
626,2024,Manchester City,1,38,28,7,3,96,34,62,91,→ Champions League via league finish
627,2024,Arsenal,2,38,28,5,5,91,29,62,89,→ Champions League via league finish
628,2024,Liverpool,3,38,24,10,4,86,41,45,82,→ Champions League via league finish
629,2024,Aston Villa,4,38,20,8,10,76,61,15,68,→ Champions League via league finish
630,2024,Tottenham,5,38,20,6,12,74,61,13,66,→ Europa League via league finish
631,2024,Chelsea,6,38,18,9,11,77,63,14,63,→ Europa Conference League via league finish 1
632,2024,Newcastle Utd,7,38,18,6,14,85,62,23,60,NaN
633,2024,Manchester Utd,8,38,18,6,14,57,58,-1,60,→ Europa League via cup win
634,2024,West Ham,9,38,14,10,14,60,74,-14,52,NaN
635,2024,Crystal Palace,10,38,13,10,15,57,58,-1,49,NaN
636,2024,Brighton,11,38,12,12,14,55,62,-7,48,NaN
637,2024,Bournemouth,12,38,13,9,16,54,67,-13,48,NaN
638,2024,Fulham,13,38,13,8,17,55,61,-6,47,NaN
639,2024,Wolves,14,38,13,7,18,50,65,-15,46,NaN
640,2024,Everton,15,38,13,9,16,40,51,-11,40,6-point deduction
641,2024,Brentford,16,38,10,9,19,56,65,-9,39,NaN
642,2024,Nottingham Forest,17,38,9,9,20,49,67,-18,32,4-point deduction
643,2024,Luton Town,18,38,6,8,24,52,85,-33,26,Relegated
644,2024,Burnley,19,38,5,9,24,41,78,-37,24,Relegated
645,2024,Sheffield Utd,20,38,3,7,28,35,104,-69,16,Relegated
646,2025,Liverpool,1,38,25,9,4,86,41,45,84,NaN
647,2025,Arsenal,2,38,20,14,4,69,34,35,74,NaN
648,2025,Manchester City,3,38,21,8,9,72,44,28,71,NaN
649,2025,Chelsea,4,38,20,9,9,64,43,21,69,NaN
650,2025,Newcastle Utd,5,38,20,6,12,68,47,21,66,NaN
651,2025,Aston Villa,6,38,19,9,10,58,51,7,66,NaN
652,2025,Nottingham Forest,7,38,19,8,11,58,46,12,65,NaN
653,2025,Brighton,8,38,16,13,9,66,59,7,61,NaN
654,2025,Bournemouth,9,38,15,11,12,58,46,12,56,NaN
655,2025,Brentford,10,38,16,8,14,66,57,9,56,NaN
656,2025,Fulham,11,38,15,9,14,54,54,0,54,NaN
657,2025,Crystal Palace,12,38,13,14,11,51,51,0,53,NaN
658,2025,Everton,13,38,11,15,12,42,44,-2,48,NaN
659,2025,West Ham,14,38,11,10,17,46,62,-16,43,NaN
660,2025,Manchester Utd,15,38,11,9,18,44,54,-10,42,NaN
661,2025,Wolves,16,38,12,6,20,54,69,-15,42,NaN
662,2025,Tottenham,17,38,11,5,22,64,65,-1,38,NaN
663,2025,Leicester City,18,38,6,7,25,33,80,-47,25,NaN
664,2025,Ipswich,19,38,4,10,24,36,82,-46,22,NaN
665,2025,Southampton,20,38,2,6,30,26,86,-60,12,NaN

In [6]:
for season in [2021,2022,2023,2024,2025]:
    print(season)
    print(df[df["season_end_year"] == season]["team"].unique())

2021
['Manchester City' 'Manchester Utd' 'Liverpool' 'Chelsea' 'Leicester City'
 'West Ham' 'Tottenham' 'Arsenal' 'Leeds United' 'Everton' 'Aston Villa'
 'Newcastle Utd' 'Wolves' 'Crystal Palace' 'Southampton' 'Brighton'
 'Burnley' 'Fulham' 'West Brom' 'Sheffield Utd']
2022
['Manchester City' 'Liverpool' 'Chelsea' 'Tottenham' 'Arsenal'
 'Manchester Utd' 'West Ham' 'Leicester City' 'Brighton' 'Wolves'
 'Newcastle Utd' 'Crystal Palace' 'Brentford' 'Aston Villa' 'Southampton'
 'Everton' 'Leeds United' 'Burnley' 'Watford' 'Norwich City']
2023
['Manchester City' 'Arsenal' 'Manchester Utd' 'Newcastle Utd' 'Liverpool'
 'Brighton' 'Aston Villa' 'Tottenham' 'Brentford' 'Fulham'
 'Crystal Palace' 'Chelsea' 'Wolves' 'West Ham' 'Bournemouth'
 'Nottingham Forest' 'Everton' 'Leicester City' 'Leeds United'
 'Southampton']
2024
['Manchester City' 'Arsenal' 'Liverpool' 'Aston Villa' 'Tottenham'
 'Chelsea' 'Newcastle Utd' 'Manchester Utd' 'West Ham' 'Crystal Palace'
 'Brighton' 'Bournemouth' 'Fulham' 'Wolves' 'Everton' 'Brentford'
 'Nottingham Forest' 'Luton Town' 'Burnley' 'Sheffield Utd']
2025
['Liverpool' 'Arsenal' 'Manchester City' 'Chelsea' 'Newcastle Utd'
 'Aston Villa' 'Nottingham Forest' 'Brighton' 'Bournemouth' 'Brentford'
 'Fulham' 'Crystal Palace' 'Everton' 'West Ham' 'Manchester Utd' 'Wolves'
 'Tottenham' 'Leicester City' 'Ipswich' 'Southampton']